# Python
__pycache__

# Checkpoints
results/
best_model_lstm_roberta/

# wandb
wandb/

# jupyter temp files
.ipynb_checkpoints

# shell scripts
*.sh

# saved model
best_model/
results/
prediction/

tmp/
sota_focal/
c_t/
compare.ipynb
