# Python
__pycache__

# Checkpoints
results/
best_model_lstm_roberta/

# wandb
wandb/
data/
# jupyter temp files
.ipynb_checkpoints

# shell scripts
*.sh

# saved model
best_model/
results/
prediction/

tmp/
sota_focal/
c_t/
compare.ipynb

test_entitiy_masking/__pycache__
test_entitiy_masking/best_model/
test_entitiy_masking/prediction/
test_entitiy_masking/results/
test_entitiy_masking/wandb/
test_entitiy_masking/kluebert-retrained